Consider some reserved IPv6 ranges as local

I suggest considering the following IPv6 ranges as local:

- `fe80::/10` (RFC4291 Link-Local Address)
- `fc00:/7` (RFC4193 Unique Local Address)
- `::ffff:0:0/96`, when translated to an IPv4 address that is local (or loopback) (RFC4291 IPv4-Mapped Address)
- `::ffff::0:0:0/96`, when translated to an IPv4 address that is local (or loopback) (RFC4291 IPv4-Compatible Address)
- `2001:db8::/32` (RFC3849 Documentation)
- `3fff::/20` (RFC9637 Documentation)
- `fec0::/10` (RFC4291 Site Local Unicast Address, even if deprecated by RFC3879)

Additional reserved IPv6 ranges may be considered local, see e.g. https://en.wikipedia.org/wiki/Reserved_IP_addresses.

IMO the following prefixes should be added to the existing set:

* `2001:db8::/32` (RFC3849 Documentation)
* `3fff::/20` (RFC9637 Documentation)

As I understand, these _should_ not be used for traffic, but _must_ not be routed to the public. Hence, they might be configured by people just blindly following instructions which use addresses from this range as examples. And within the local domain, these would work.

* `fec0::/10` (RFC4291 Site Local Unicast Address, even if deprecated by RFC3879)

Even though this range is deprecated, the deprecation RFC 3879 says that whoever already operates in this range is allowed to continue doing so.

> Existing implementations and deployments MAY continue to use this prefix.

Hence, they _might_ still be in use in a local domain.